<div class="navbar  ">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="icon icon-arrow-back"></i></a>
        </div>
        <div class="center sliding ">{{@global.LANGUAGE.MENU_MSG07}}</div>
        <div class="right">            
            <a href="#" class="link saveAssets"><i class="f7-icons icon">check</i></a>
        </div>  
        <div class="subnavbar">
            <div class="buttons-row">              
                <form class="searchbar  bg-boatprotect searchbarAlarmsAssets " >
                    <div class="searchbar-input">
                        <input type="search" placeholder="{{@global.LANGUAGE.COM_MSG06}}">
                        <a href="#" class="searchbar-clear"></a>
                    </div>
                    <a href="#" class="searchbar-cancel color-white">{{@global.LANGUAGE.COM_MSG04}}</a>
                </form>
            </div>
        </div>                    
    </div>
   
           
</div>

<div class="pages  navbar-through toolbar-through">
    <div class="page with-subnavbar alarm_page" data-page="alarms.assets">
    	
      	<div class="searchbar-overlay"></div>
      	<div class="page-content">

      		<div class="list-block no-hairlines list-block-selectall">
                <li class="">
                    <div class="item-content">                               
                        <div class="item-inner">
                            <div class="item-title ">{{@global.LANGUAGE.COM_MSG30}}</div>                        
                            <label class="label-switch">
                                <input type="checkbox" name="select-all" >
                                <div class="checkbox"></div>
                            </label>                        
                        </div>
                    </div>
                </li>
            </div>
      		
      		<div class="content-block searchbar-not-found  searchbar-not-found-alarms-assets ">
              	{{@global.LANGUAGE.COM_MSG05}}
            </div>

            <div class="list-block media-list virtual-list no-hairlines list-block-search-alarms-assets alarmsAssetList">          
                
            </div>
    		
      	</div>
    	
    </div>
</div>
