
<div class="page alarm_page" data-page="alarms.assets">
	<div class="navbar">
    	<div class="navbar-inner">
    	  	<div class="left">
    	  		<a href="#" class="back link"> <i class="icon icon-back "></i></a>
    	  	</div>
    		<div class="left navbar_title navbar_title_index">{{@global.LANGUAGE.MENU_MSG07}}</div>
    		<div class="right">
    			<a href="#" class="link button_search_alarm_assets" ><i class="f7-icons ">search</i></a>
            	<a href="#" class="link saveAssets"><i class="f7-icons ">check</i></a>
    		</div>
    		          
    	</div>
    	<!-- Search Bar -->
                <form class="searchbar navbar-inner searchbarAlarmsAssets animated dislay_none" >
                    <div class="searchbar-input">
                        <input type="search" placeholder="{{@global.LANGUAGE.COM_MSG06}}">
                        <a href="#" class="searchbar-clear"></a>
                    </div>
                    <a href="#" class="searchbar-cancel">{{@global.LANGUAGE.COM_MSG04}}</a>
                </form>
  	</div>
  	<div class="searchbar-overlay"></div>
  	<div class="page-content">

  		<div class="list-block no-hairlines list-block-selectall">
            <li class="bw-li-switch">
                <div class="item-content">                               
                    <div class="item-inner">
                        <div class="item-title ">{{@global.LANGUAGE.COM_MSG30}}</div>                        
                        <label class="label-switch">
                            <input type="checkbox" name="select-all" >
                            <div class="checkbox"></div>
                        </label>                        
                    </div>
                </div>
            </li>
        </div>
  		
  		<div class="content-block searchbar-not-found  searchbar-not-found-alarms-assets ">
          	{{@global.LANGUAGE.COM_MSG05}}
        </div>

        <div class="list-block media-list virtual-list no-hairlines list-block-search-alarms-assets alarmsAssetList">          
            
        </div>
		
  	</div>
	
</div>
