<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
        	<a href="#" class="backToIndex link"> <i class="icon icon-arrow-back"></i></a>
        </div>
        <div class="center sliding">{{@global.LANGUAGE.MENU_MSG03}}</div>
        <!-- <div class="right">
          <i class="f7-icons">search_strong</i>
        </div> -->
        <div class="subnavbar bg-boatprotect">
            <div class="buttons-row">
				<a href="#" class="button tab-link active" data-id="profile" data-href="">
		           	<span class="tabbar-label"><b>{{@global.LANGUAGE.PROFILE_MSG10}}</b></span>
		        </a>
	            <a href="#" class="button tab-link " data-id="profile.newPwd" >
	                <span class="tabbar-label"><b>{{@global.LANGUAGE.PROFILE_MSG12}}</b></span>
	            </a>
            </div>
        </div>
    </div>
</div>
<div class="pages">
	<div class="page with-subnavbar profile_page" data-page="profile">
		
		<div class="page-content">
			<!-- <form action="" class="formProfile"> -->
			<div class="content-block-title color-boatprotect">{{@global.LANGUAGE.PROFILE_MSG00}}</div>
		    <div class="list-block">
			  	<ul>		    	
			    	<li>
			    	  	<div class="item-content">
			    	  	  	<div class="item-inner">
			    	  	  	  	<div class="item-title label">{{@global.LANGUAGE.PROFILE_MSG01}}</div>
			    	  	  	  	<div class="item-input">
			    	  	  	  	  	<input type="text" placeholder="User Name" maxlength="200" name="FirstName" value="{{FirstName}}" >
			    	  	  	  	</div>
			    	  	  	</div>
			    	  	</div>
			    	</li>
			    	<li>
			    	  	<div class="item-content">
			    	  	  	<div class="item-inner">
			    	  	  	  	<div class="item-title label">{{@global.LANGUAGE.PROFILE_MSG02}}</div>
			    	  	  	  	<div class="item-input">
			    	  	  	  	  	<input type="text" placeholder="Last Name" maxlength="200" name="SurName" value="{{SurName}}">
			    	  	  	  	</div>
			    	  	  	</div>
			    	  	</div>
			    	</li>
			    	<li>
			    	  	<div class="item-content">
			    	  	  	<div class="item-inner">
			    	  	  	  	<div class="item-title label">{{@global.LANGUAGE.PROFILE_MSG03}}</div>
			    	  	  	  	<div class="item-input">
			    	  	  	  	  	<input type="text" placeholder="0902020202020" maxlength="200" name="Mobile" value="{{Mobile}}">
			    	  	  	  	</div>
			    	  	  	</div>
			    	  	</div>
			    	</li>
			    	<li>
			    	  	<div class="item-content">
			    	  	  	<div class="item-inner">
			    	  	  	  	<div class="item-title label">E-mail</div>
			    	  	  	  	<div class="item-input">
			    	  	  	  	  	<input type="email" placeholder="username@email.com" maxlength="200" name="Email" value="{{Email}}">
			    	  	  	  	</div>
			    	  	  	</div>
			    	  	</div>
			    	</li>
			    </ul>
			</div>
			<div class="content-block-title color-boatprotect">{{@global.LANGUAGE.PROFILE_MSG04}}</div>
				    <div class="list-block">
			  	<ul>	
			    	<li>
			    	  	<div class="item-content">
			    	  	  	<div class="item-inner">
			    	  	  	  	<div class="item-title label">{{@global.LANGUAGE.PROFILE_MSG05}}</div>
			    	  	  	  	<div class="item-input">
			    	  	  	  	  	<input type="text" placeholder="C5, 1 The Espalnde" maxlength="200" name="Address0" value="{{Address0}}">
			    	  	  	  	</div>
			    	  	  	</div>
			    	  	</div>
			    	</li>
			    	<li>
			    	  	<div class="item-content">
			    	  	  	<div class="item-inner">
			    	  	  	  	<div class="item-title label">{{@global.LANGUAGE.PROFILE_MSG06}}</div>
			    	  	  	  	<div class="item-input">
			    	  	  	  	  	<input type="text" placeholder="Australia" maxlength="200" name="Address1" value="{{Address1}}">
			    	  	  	  	</div>
			    	  	  	</div>
			    	  	</div>
			    	</li>
			    	<li>
			    	  	<div class="item-content">
			    	  	  	<div class="item-inner">
			    	  	  	  	<div class="item-title label">{{@global.LANGUAGE.PROFILE_MSG07}}</div>
			    	  	  	  	<div class="item-input">
			    	  	  	  	  	<input type="text" placeholder="Mount Pleasant" maxlength="200" name="Address2" value="{{Address2}}">
			    	  	  	  	</div>
			    	  	  	</div>
			    	  	</div>
			    	</li>
			    	<li>
			    	  	<div class="item-content">
			    	  	  	<div class="item-inner">
			    	  	  	  	<div class="item-title label">{{@global.LANGUAGE.PROFILE_MSG08}}</div>
			    	  	  	  	<div class="item-input">
			    	  	  	  	  	<input type="text" placeholder="WA" maxlength="200" name="Address3" value="{{Address3}}">
			    	  	  	  	</div>
			    	  	  	</div>
			    	  	</div>
			    	</li>
			    	<li>
			    	  	<div class="item-content">
			    	  	  	<div class="item-inner">
			    	  	  	  	<div class="item-title label">{{@global.LANGUAGE.PROFILE_MSG09}}</div>
			    	  	  	  	<div class="item-input">
			    	  	  	  	  	<input type="text" placeholder="6153" maxlength="200" name="Address4" value="{{Address4}}">
			    	  	  	  	</div>
			    	  	  	</div>
			    	  	</div>
			    	</li>
			
			    </ul>
			</div>
			<div class="content-block">
				<div class="buttons-row">
					<div class="button button-fill button-big bg-boatprotect saveProfile">{{@global.LANGUAGE.COM_MSG00}}</div>
					<!-- <input type="submit" class="button button-fill" value="Save"> -->
				</div>
			</div>
			<!-- </form> -->
		</div>
	</div>
</div>