<div class="navbar">
    <div class="navbar-inner">
        <div class="left">            	
        	<a href="#" class="backToIndex link"> <i class="icon icon-arrow-back"></i></a>
        </div>
        <div class="center">{{@global.LANGUAGE.MENU_MSG03}}</div>
        <!-- <div class="right">
          <i class="f7-icons">search_strong</i>
        </div> -->

        <div class="subnavbar bg-boatprotect">
            <div class="buttons-row">
				<a href="#" class="button tab-link" data-id="profile" data-href="">
		           	<span class="tabbar-label"><b>{{@global.LANGUAGE.PROFILE_MSG10}}</b></span>
		        </a>
	            <a href="#" class="button tab-link active" data-id="profile.newPwd" >
	                <span class="tabbar-label"><b>{{@global.LANGUAGE.PROFILE_MSG12}}</b></span>
	            </a>
            </div>
        </div>

    </div>
</div>

<div class="pages">
	<div class="page with-subnavbar profile_page" data-page="profile.newPwd">
		

		<div class="page-content">	
			
			<div class="content-block-title title-color">{{@global.LANGUAGE.PROFILE_MSG16}}</div>
			<div class="list-block">
			  	<ul>
			    	<li>
			    	  	<div class="item-content">
			    	  	  	<div class="item-inner">
			    	  	  	  	<div class="item-title label ">{{@global.LANGUAGE.PROFILE_MSG13}}</div>
			    	  	  	  	<div class="item-input">
			    	  	  	  	  	<input type="password" placeholder="{{@global.LANGUAGE.PROFILE_MSG13}}" name="Password" maxlength="200">
			    	  	  	  	</div>
			    	  	  	</div>
			    	  	</div>
			    	</li>
			    	<li>
			    	  	<div class="item-content">
			    	  	  	<div class="item-inner">
			    	  	  	  	<div class="item-title label ">{{@global.LANGUAGE.PROFILE_MSG11}}</div>
			    	  	  	  	<div class="item-input">
			    	  	  	  	  	<input type="password" placeholder="{{@global.LANGUAGE.PROFILE_MSG11}}" name="NewPassword" maxlength="200">
			    	  	  	  	</div>
			    	  	  	</div>
			    	  	</div>
			    	</li>				   
			    	<li>
			    	  	<div class="item-content">
			    	  	  	<div class="item-inner ">
			    	  	  	  	<div class="item-title label ">{{@global.LANGUAGE.PROFILE_MSG14}}</div>
			    	  	  	  	<div class="item-input">
			    	  	  	  	  	<input type="password" placeholder="{{@global.LANGUAGE.PROFILE_MSG14}}" name="NewPasswordConfirm" maxlength="200">
			    	  	  	  	</div>
			    	  	  	</div>
			    	  	</div>
			    	</li>
			    </ul>
			</div>				
			<div class="content-block">
				<div class="buttons-row">					
					<div class="button button-fill button-big bg-boatprotect saveProfileNewPwd">{{@global.LANGUAGE.COM_MSG00}}</div>
					<!-- <input type="submit" class="button button-fill" value="Save"> -->
				</div>
			</div>			
			
		</div>
	</div>
</div>