<div class="page reset_password_page" data-page="resetPwdCode">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="back link"> <i class="icon icon-back"></i></a>
      </div>
      <div class="left navbar_title">{{@global.LANGUAGE.LOGIN_MSG05}}</div>
    </div>
  </div>
  <div class="page-content">
   
    <div class="content-block-title w-space-normal">{{@global.LANGUAGE.PASSWORD_RESET_MSG02}}</div>
    <div class="list-block">
      <ul>          
        <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title label">{{@global.LANGUAGE.PASSWORD_RESET_MSG03}}</div>
                    <div class="item-input">
                      <input type="text" placeholder="1234" maxlength="20" name="VerifyCode">
                    </div>
                </div>
            </div>
        </li>
      </ul>
    </div>
    <div class="content-block">
      <div class="buttons-row">
        <div class="button button-fill sendVerifyCode">{{@global.LANGUAGE.COM_MSG07}}</div>
        <!-- <input type="submit" class="button button-fill" value="Save"> -->
      </div>
    </div>
              
  </div>
</div>   